<!DOCTYPE html>
<html lang="en">
  <head>
    <title>for Demo</title>
  </head>
  <body>
    {% if items %}
    <h1>Items are</h1>
    <ol>
      {% for item in items %}
      <li>{{item}}</li>
      {% endfor %}
    </ol>
    {% else %}
    <h1>No Items</h1>
    {% endif %} {% for key in profile %}
    <h5>{{key}}</h5>
    {% endfor %} {% for value in profile.values %}
    <h5>{{value}}</h5>
    {% endfor %} {% for key,value in profile.items %}
    <h5>{{key}}:{{value}}</h5>
    {% endfor %}
  </body>
</html>
